<div class="install-wizard">
    <div class="install-wizard__success-icon">✓</div>
    <h2 class="install-wizard__title">A rendszer már telepítve van</h2>
    <p class="install-wizard__text">
        A Koncert24.hu már sikeresen telepítve lett. Ha szeretné használni a rendszert, 
        jelentkezzen be az admin felületre.
    </p>

    <div class="install-wizard__btn__group">
        <a href="/" class="btn btn--secondary">Főoldal</a>
        <a href="/auth/login" class="btn btn--primary">Bejelentkezés</a>
    </div>
</div>
