<!-- Skeleton Event Card Loader -->
<div class="skeleton-event-card">
    <!-- Skeleton Image -->
    <div class="skeleton-event-card__image"></div>
    
    <!-- Skeleton Date Badge -->
    <div class="skeleton-event-card__date">
        <div class="skeleton-event-card__date-item"></div>
        <div class="skeleton-event-card__date-item"></div>
        <div class="skeleton-event-card__date-item"></div>
    </div>
    
    <!-- Skeleton Content -->
    <div class="skeleton-event-card__content">
        <!-- Skeleton Title -->
        <div class="skeleton-event-card__title"></div>
        
        <!-- Skeleton Details -->
        <div class="skeleton-event-card__details">
            <div class="skeleton-event-card__detail"></div>
            <div class="skeleton-event-card__detail"></div>
            <div class="skeleton-event-card__detail"></div>
        </div>
        
        <!-- Skeleton Actions -->
        <div class="skeleton-event-card__actions">
            <div class="skeleton-event-card__button"></div>
            <div class="skeleton-event-card__secondary">
                <div class="skeleton-event-card__secondary-btn"></div>
                <div class="skeleton-event-card__secondary-btn"></div>
            </div>
        </div>
    </div>
</div>
