root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ejs]
# EJS fájlok specifikus beállításai
indent_style = space
indent_size = 2
# EJS template tagek megőrzése
max_line_length = off

[*.{md,yml,yaml}]
trim_trailing_whitespace = false

[*.{json,js}]
indent_size = 2